body {
    background-color: #064d6e; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
  }
header {
    background-color: #064d6e; 
    color: #ffffff; 
    padding: 20px;
    text-align: center;
  }
  nav {
    color: #064d6e;
  }
  
  .card-img-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-width: 3px;
    height: 40%;
  }
  